 <!-- Sidebar -->
	<nav id="sidebar">
		 <div class="sidebar-header">
			 <h3>Portfolio Yann GARET</h3>
			 <strong>YG</strong>
		 </div>
		 <ul class="list-unstyled components">
			 <li>
				 <a href="" target="_blank">
					 <i class="fas fa-sitemap"></i>
					 Le site
				 </a>
			 </li>
			 <li>
				 <a href="">
					 <i class="fas fa-home"></i>
					 Accueil
				 </a>
			 </li>
			 <li>
				 <a href="">
					 <i class="fas fa-book"></i>
					 Compétences
				 </a>
			 </li>			
			 <li>
				 <a href="https://phpmyadmin.alwaysdata.com/" target="_blank">
					 <i class="fas fa-database"></i>
					 Base de données
				 </a>
			 </li>
		 </ul>
	 </nav>