 <!-- Sidebar -->
	<nav id="sidebar">
		 <div class="sidebar-header">
			 <h3>TiMMIng</h3>
			 <strong>TM</strong>
		 </div>
		 <ul class="list-unstyled components">
			 <li>
				 <a href="{{ path( 'home')}}" target="_blank">
					 <i class="fas fa-sitemap"></i>
					 Le site
				 </a>
			 </li>
			 <li>
				 <a href="{{ path( 'backoffice_index')}}">
					 <i class="fas fa-home"></i>
					 Accueil
				 </a>
			 </li>
			 <li>
				 <a href="{{ path( 'backoffice_task_index')}}">
					 <i class="fas fa-book"></i>
					 Tâches
				 </a>
			 </li>	
			 <li>
				 <a href="">
					 <i class="fas fa-book"></i>
					 Administration
				 </a>
			 </li>
			 <li>
				 <a href="">
					 <i class="fas fa-book"></i>
					 Enseignants
				 </a>
			 </li>	
			 <li>
				 <a href="">
					 <i class="fas fa-book"></i>
					 Modules
				 </a>
			 </li>	
			 <li>
				 <a href="">
					 <i class="fas fa-book"></i>
					 Groupes
				 </a>
			 </li>
			 <li>
				 <a href="https://phpmyadmin.alwaysdata.com/" target="_blank">
					 <i class="fas fa-database"></i>
					 Base de données
				 </a>
			 </li>
		 </ul>
	 </nav>